<h1>メモ</h1>
<br>

<!-- <div align="right" style="position: absolute; right: 0; top: 390px;"> -->
<% @bundoki.each do |bundoki| %>
  <%= link_to image_tag('bundoki.png', class:'memo'), mtourokus_path(genre_id: bundoki) %><br>
<% end %>

<!-- <div align="right" style="position: absolute; right: 0; top: 390px;"> --> 
<% @seisan.each do |seisan| %>
  <%= link_to image_tag('seisan2.png', class:'kami'), mtourokus_path(genre_id: seisan) %><br>
  <% end %>

  <!-- <div align="right" style="position: absolute; right: 0; top: 390px;"> -->
  <% @sankaku.each do |sankaku| %>
  <%= link_to image_tag('sankaku3.png', class:'kami'), mtourokus_path(genre_id: sankaku) %><br>
<% end %>
























