/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { padding-top: 30px; }
footer { margin-top: 50px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #000000; }


body {
    font-family: 'HG丸ｺﾞｼｯｸM-PRO';
  }

body { font-size: 150%; }

.logo{
    width: 290px;
    height: 53px;
}

.logout{
    width: 75px;
    height: 50px;
}

    
.top{
    width: 148x;
    height: 38px;
}

.logo:hover {background-color: #ffffff; }

.logout:hover {background-color: #ffffff; }

.navbar-logo:hover {background-color: #ffffff; }



@media(min-width:1024px) {
    .navbar-logo{
        width: 550px;
        height: 50px;
    }
    .logo{
        width: 550px;
        height: 50px;
    }
    .top{
        width: 200px;
        height: 50px;
    }
}

@media(max-width:770px) {
    .navbar-logo{
        width: 400px;
        height: 50px;
    }
    .logo{
        width: 400px;
        height: 50px;
    }
    .top{
        width: 250px;
        height: 45px;
    }
}

@media(max-width:420px) {
    .navbar-logo{
        width: 250px;
        height: 50px;
    }
    .logo{
        width: 250px;
        height: 50px;
    }
    .top{
        width: 140px;
        height: 45px;
    }
}

@media(max-width:380px) {
    .navbar-logo{
        width: 200px;
        height: 50px;
    }
    .logo{
        width: 200px;
        height: 50px;
    }
    .top{
        width: 140px;
        height: 45px;
    }
}

@media(max-width:320px) {
    .navbar-logo{
        width: 170px;
        height: 50px;
    }
    .logo{
        width: 170px;
        height: 50px;
    }
    .top{
        width: 140px;
        height: 45px;
    }
}